*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    width:  100%;
    height: 100%;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;

}

nav h3{
    color: white;
    background-color: black;
    padding: 5px 12px;
    border-radius: 1.2rem;
    font-size: 20px;
    margin-left: 8px;

}
#intro{
    height: 40%;
    width: 100%;
    padding: 80px 50px;
}

#intro h1{
    font-size: 130px;
    line-height: 100px;
    letter-spacing: -7px;
}

#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

#place h3{
    font-size: 28px;
    font-weight: 600px;
}

img{
     height: 600px;
     width: 100%;
     object-fit: cover;
}

#about{
    width: 100%;
    display: flex;
    padding: 50px 60px;
    
}

#about h2{
    width: 70%;
    font-size: 5.2rem;
    line-height: 4.5rem;
    letter-spacing: -3px;
}

#about-part2{
    width: 30%;
    padding: 0px 40px;
    font-size: 25px;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#icons i{
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 6px;
    border-radius: 50px;
    margin-left: 10px;

}

#work{
    height: 45%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    margin: 0px 30px;

}

#work1{
    width: 33%;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    padding: 10px 30px;
    margin-top: 30px;
    font-size: 25px;
    border-right: 2px solid black;
    
}


#work2{
    width: 70%;
    padding: 20px 0px;
}

.work2-part{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        margin-left: 20px ;
}

.work2-part:nth-child(1){
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.work2-part .art{
    width: 50%;
}

.work2-part .art:nth-child(1){
    border-right: 2px solid black;
}

.work2-part .art:nth-child(2){
    padding-left: 25px;
}

.work2-part h3{
    font-size: 45px;
}

.work2-part p{
    padding-top: 2px;
    padding-bottom: 12px;
    color: rgb(104, 100, 100);
}

#experience{
    height: 100%;
    padding: 5px 25px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 15px 30px;
}

#experience h2{
    font-size: 4.5rem;
    padding: 12px 0px;
}